In [1]:
import pandas as pd
import altair as alt
# import seaborn as sns
# import matplotlib.pyplot as plt
import duckdb

In [2]:
dwh = duckdb.connect("../database/dwh.duckdb")
df = dwh.sql("SELECT * FROM analytics.dataset__cost_earnings_comparison").df()
df.head()

,city_name,country_name,job_title,job_experience,avg_monthly_gross_salary_eur,avg_monthly_net_salary_eur,expense_1_roomappart_center,expense_1_roomappart_outside,expense_3_roomappart_center,expense_3_roomappart_outside,expense_childcare,expense_clothing,expense_education,expense_groceries,expense_leisure,expense_mobility,expense_restaurant,expense_utilities
0,New York,United States,Senior Data Engineer,8,9240.0,6930.0,4106.16360,2840.26512,8785.85400,4507.84488,2927.23200,207.54888,53592.00000,176.19756,150.68592,146.06592,656.87160,287.49336
1,Los Angeles,United States,Senior Data Engineer,8,8316.0,6237.0,2318.52852,1990.42536,4538.90976,3550.72872,1940.40000,200.74824,26565.00000,165.83028,76.92300,96.26232,598.03128,318.00384
2,Chicago,United States,Senior Data Engineer,8,7854.0,5890.5,2290.31880,1410.19032,4361.28000,2786.78400,2132.89692,201.22872,41995.80000,168.76860,86.50488,93.80448,562.29096,252.08568
3,London,United Kingdom,Senior Data Engineer,8,5815.0,4186.8,2488.14546,1850.23996,5146.27500,3329.85508,2155.16693,249.74262,23426.51834,111.97364,71.02441,261.44240,561.51966,401.28152
4,Bangkok,Thailand,Senior Data Engineer,8,3120.0,2496.0,567.27268,272.52108,1529.06884,766.18152,625.34264,187.78630,11657.86830,60.64396,59.23112,45.34400,127.70160,112.51422

In [3]:
alt.Chart(df).mark_bar().encode(
    x='city_name',
    y='avg_monthly_net_salary_eur'
    ).properties(width=800)

alt.Chart(...)